<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="GeneralConfiguration">
      <section name="RunConfig" type="System.Configuration.NameValueSectionHandler" />
      <section name="Paths" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="APIConfiguration">
      <section name="EndPoint" type="System.Configuration.NameValueSectionHandler" />
      <section name="ErrorMessages" type="System.Configuration.NameValueSectionHandler" />
      <section name="TestsConfig" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="UISeleniumConfiguration">
      <section name="Browser" type="System.Configuration.NameValueSectionHandler" />
      <section name="EndPoint" type="System.Configuration.NameValueSectionHandler" />
      <section name="ErrorMessages" type="System.Configuration.NameValueSectionHandler" />
      <sectionGroup name="MultiQuoteSteps">
        <section name="Step1" type="System.Configuration.NameValueSectionHandler" />
        <section name="Step2" type="System.Configuration.NameValueSectionHandler" />
        <section name="Step3" type="System.Configuration.NameValueSectionHandler" />
        <section name="HeadersFooters" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <GeneralConfiguration>
    <RunConfig>
      <!--<add key="RunLocation" value="LocalEndPoint" /> -->
      <!--<add key="RunLocation" value="QAEndPoint" /> -->
      <add key="RunLocation" value="DevEndPoint" />
      <!--<add key="RunLocation" value="FeatureEndPoint" /> -->
    </RunConfig>
    <Paths>
      <add key="JSONTestDataFilesPath" value="d:\Repositories\TFS\EnrollmentPlatform\Development\RevolutionInsure.EnrollmentPlatform.AutomationREST\JSONs\API\" />
      <add key="JSONUITestDataFilesPath" value="d:\Repositories\TFS\EnrollmentPlatform\Development\RevolutionInsure.EnrollmentPlatform.TestSuites\JSONs\UI\" />
    </Paths>
  </GeneralConfiguration>
  <APIConfiguration>    
    <EndPoint>
      <add key="LocalEndPoint" value="http://localhost:17384/" />
      <add key="QAEndPoint" value="https://qaapi.revolutioninsure.net/" />
      <add key="DevEndPoint" value="https://devapi.revolutioninsure.net/" />
      <add key="FeatureEndPoint" value="" />
    </EndPoint>
    <ErrorMessages>
      <add key="TypeOfVerification" value="Error: NOT VALID RESULT :: Returned object is NOT corresponding to expected type " />
      <add key="ContentVerification" value="Error: INCORRECT CONTENT OF RETURNED OBJECT :: Returned object NOT contains " />
      <add key="StatusCodeVerification" value="Error: NOT VALID RESULT :: Returned Returned Status Code is NOT corresponding to expected Status Code " />
    </ErrorMessages>
    <TestsConfig>
      <add key="TestAgencyID" value="38" />
      <add key="TestAgencyStatus" value="5" />
      <add key="TestAgentID" value="2" />
      <add key="TestAgentStatus" value="2" />
      <add key="TestAgentStatuses" value="1,2,3,4" />
      <add key="TestProductID" value="36" />
      <add key="TestStateID" value="3" />
      <add key="TestCoverageType" value="2" />
      <add key="TestCarrierID" value="1" />
      <add key="TestApplicationID" value="214" />  
      <add key="TestContactID" value="15" />
      <add key="TestContactIDs" value="10,11,12,13,14,15" />
      <add key="TestpolicyNumberBlock" value="" />                          <!--Need to define-->
      <add key="TestQuoteRequest" value="" />                          <!--Need to define-->
      <add key="TestZipCode" value="986" />           
      <add key="TestAgentCode" value="" />                          <!--Need to define-->
      <add key="TestBlobFileName" value="2/UserSign/sign.png" />        <!--Need to define-->
    </TestsConfig>
  </APIConfiguration>
  <UISeleniumConfiguration>
    <Browser>
      <add key="BrowserName" value="Chrome" />
    </Browser>
    <EndPoint>
      <add key="LocalEndPoint" value="http://localhost:3000/" />
      <add key="QAEndPoint" value="https://qa.revolutioninsure.net/" />
      <add key="DevEndPoint" value="https://dev.revolutioninsure.net/" />
      <add key="FeatureEndPoint" value="http://" />
    </EndPoint>
    <ErrorMessages>
      <add key="TestDataPreparationError" value="Error: UI TEST ERROR :: UI Data Preparation issue. " />
      <add key="UIInitializationError" value="Error: UI TEST ERROR :: UI Initializing issue. " />
      <add key="UIValidationError" value="Error: UI TEST ERROR :: UI Validation issue. " />
      <add key="UISubmitError" value="Error: UI TEST ERROR :: UI Action issue. " />
      <add key="UINavigationError" value="Error: UI TEST ERROR :: UI Navigation issue. " />
    </ErrorMessages>
    <MultiQuoteSteps>
      <Step1>
        <add key="" value="" />
      </Step1>
      <Step2>
        <add key="" value="" />
      </Step2>
      <Step3>
        <add key="" value="" />
      </Step3>
      <HeadersFooters>
        <!--Expected result-->
        <add key="FooterText" value="*Policies issued by American General Life Insurance Company, member of American International Group, Inc. Issuing company AGL is responsible for financial obligations of insurance products and are members of American International Group, Inc. (AIG). Guarantees are backed by the claims-paying ability of the issuing insurance company. AGL does not solicit business in the state of New York. Products may not be available in all states and product features may vary by state. Rezilient Direct Corporation is a separate and unrelated entity to AIG and its member companies." />
      </HeadersFooters>
    </MultiQuoteSteps>
  </UISeleniumConfiguration>
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.3.31.0" newVersion="4.3.31.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.3.31.0" newVersion="4.3.31.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="PostSharp.Patterns.Common" publicKeyToken="e7f631e6ce13f078" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.3.24.0" newVersion="4.3.24.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>