<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="RevolutionInsure.EnrollmentPlatform.AutomationSelenium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AutomationSelenium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    </configSections>
  <userSettings>
        <RevolutionInsure.EnrollmentPlatform.AutomationSelenium.Properties.Settings>
              <setting name="Browser" serializeAs="String">
                    <value>Chrome</value>
              </setting>
              <setting name="TestEnvironment" serializeAs="String">
                    <value>http://localhost:3000/</value>
              </setting>
        </RevolutionInsure.EnrollmentPlatform.AutomationSelenium.Properties.Settings>
        <AutomationSelenium.Properties.Settings>
            <setting name="Browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="TestEnvironment" serializeAs="String">
                <value>http://localhost:3000/</value>
            </setting>
        </AutomationSelenium.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.31.0" newVersion="4.3.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.31.0" newVersion="4.3.31.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>